/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
        background-color: #d8d8d8;
    }
    span{
        font-size:18px;
    }
    .c_img{
        margin-bottom: 2px;
        width: 35px;
    }
    .c_text{
        color: black;
        font-size: small;
        font-weight: 500;
        margin-right: 10px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    body{
        background-color: #626262;
    }
    span{
        font-size:20px;
    }
    .c_img{
        margin-bottom: 2px;
        width: 40px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .linee{
        word-spacing: 10px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .linee{
        word-spacing: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .linee{
        word-spacing: 10px;
    }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .linee{
        word-spacing: 10px;
    }
 }